.products-content .slider {
	top: 0;
}

.list.product-list.in-slide {
	padding-top: 48px;
}

.gridview {
	display: flex;
	flex-flow: row wrap;

	.product-item {
		width: 50%;
		font-size: 12px;
		border-bottom: 1px solid $list-border-color;
	}

	.product-item:nth-child(odd) {
		border-right: 1px solid $list-border-color;
	}
}

.listview {
	display: flex;
	flex-flow: row wrap;

	.product-item {
		width: 100%;
		font-size: 14px;
		border-bottom: 1px solid $list-border-color;

		> .image {
			height: 50vh;
		}

		> .brand {
			font-weight: 300;
		}

		> .name {
			font-weight: 500;
		}

		> .price {
			font-weight: 500;
		}
	}

	.product-item:nth-child(odd) {
		border-right: 1px solid $list-border-color;
	}
}


.product-item {
	text-align: center;
	padding: 20px;

	> .image {
		position: relative;
		background-repeat: no-repeat;
		background-position: 50% 50%, center;
		background-size: contain;		
		height: 25vh;
		margin: 0 auto;
	}

	> .brand {
		font-weight: 300;
	}

	> .name {
		font-weight: 500;
	}

	> .price {
		font-weight: 500;
	}
}

.item-select.sort-select {

	border: none;
	padding-left: 5px;
	padding-right: 15px;

	> select {
		position: inherit;
		padding: 0 20px 0 0;
		max-width: none;
		direction: ltr;
		color: $text-color-main;
		font-size: 12px;
		text-transform: uppercase;
	}

	&:after {
		color: $text-color-main;
	}
}

.hide-onscroll-target {
	transition: transform 0.25s ease-in;
}

.hide-onscroll-up {	
	transform: translateY(-100%) !important;	
}

.hide-onscroll-down {
	transform: translateY(100%) !important;	
}

button.wishlist-remove {
	position: absolute;	
	top: -15px;
	right: -15px;
}
.shippingCountryInfoDiv{

text-align: right;
width: 100%;
}
.shippingCountryInfo{

font-size: 12px;
padding: 5px;
width: 100%;
}

