.menu-wrapper {
	height: 100%;
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;

	.menu-top {
		flex: 1 0 100px;
		display: flex;
    	align-items: flex-end;

		.logo {
			width: 100%;
			height: 75px;
			background: url('../images/logo.png') no-repeat;
			background-size: contain;
			background-position: 50% 50%;
			margin-bottom: 20px;
		}
	}

	.menu-list {
		overflow-x: hidden;
		overflow-y: auto;
		overflow-scrolling: touch;

		.list {
			.item {
				border:none;
				text-transform: none;
				background-color: rgba(255,255,255,0);
				color: $side-menu-link-color;
				font-size: $menu-list-item-font-size;
				font-weight: 300;
				line-height: $menu-list-item-line-height;

				span {
					position: relative;
					display: inline-block;

					.item-badge {
					    position: absolute;
					    top: 50%;
					    right: -40px;
					    font-size: 17px;
					    transform: translateY(-50%);
					}
				}
			}
			.item.active, .item.activated {
				color: $side-menu-link-color-active;
			}
		}
	}

	.menu-bottom {
		display: flex;
		flex: 1 0 100px;
	}
}

.menu{
  background-color: $side-menu-background-color;
}

